<main>
	<div class='container'>
		<h1 class='center-align'>Editing User</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @user, class: 'btn' %> 
	</div>
</main>
<%= content_for :footer do %>
	<%= link_to 'Back', users_path, class: 'btn' %>
<% end %>