<% content_for :head do %>
	<title>YOU ARE AWESOME</title>
	<%= stylesheet_link_tag 'welcome' %>
<% end %>

<iframe 
	src="<%= @song.link %>?autoplay=1&start=<%= @song.timestamp %>">
</iframe>

<div class="flex-container">
    <div class="flex-item">YOU ARE AWESOME</div>
</div>

